.box_main{
    flex: 1;
    background-color: #F6F6F6;
    border-radius: 5px;
    @include hidden;
    margin-bottom: 15px;
    &_hidden{
        flex: 1;
        height: 72px;
    }
    &_header{
        @include font;
        background-color: $lightRed;
        height: 52px;
        border-radius: 10px;
        color: $white;
        @include flexBetween;
        @include paddingLeftRight;
        margin: 0;
        cursor: pointer;
        & img {
            transition: all 0.2s ease-in-out;
        }
        & .arrow_up{
            transform: rotate(0deg);
        }
        & .arrow_down{
            transform: rotate(180deg);
        }
        @media screen and (max-width:550px) {
            & {
                font-size: 14px;
                line-height: 18.5px;
                @include fontWeight;
            }
        }
    }
    &_text{
        @include fontBox;
        color: $lightRed;
        @include paddingLeftRight;
        padding-top: 10px;
        transition:  opacity 0.5s ease-in-out 0.5;
        animation: slide-in 0.5s ease-in-out;
        @media screen and (max-width:550px) {
            & {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}

.hidden{
    visibility: hidden;
    opacity: 0;
    height: 0;
}

@keyframes slide-in{
    0%{
        transform: translateY(-36%);
    }
}





